.errorMsg {
  color: #FF0000;
  text-align: center;
}

.errorMsg p, .errorMsg h3 {
  margin: 0.4em;
}

.playerDataForm * {
  margin-top: 0.7em;
}

.playerDataForm input[type=text] {
  padding: 10px 17px;
  font-size: 1.3em;
  border: none;
  border-bottom: 1px solid #ff0000;
}

.playerDataForm input[type=text]:focus {
  background-color: lightblue;
  outline: none;
}
